* {
    box-sizing: border-box;
}
.wrapper {
    font-family: 'Montserrat', sans-serif;
}

/*HEADER STYLES*/
.header-content {
    height: 100%;
}
.title {
    color: #cc212a;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
}
/**/

/*MAIN CONTENT STYLES*/

.main-content {
    height: 100vh;
    width: 100%;
}

/*FOOTER STYLES*/

.footer-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #cc212a;
    align-items: center;
    padding-top: 40px;
}
.logo {
    background-color: #cc212a;
    color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: -30%;
}

@media all and (min-width:780px) {

.footer-wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px;
}
.logo {
    position: static;
    top:0;
}
}



/*luego lo voy a borrar
.main-content,.footer-wrapper {
    border: 1px solid #fabada;*/
